.search-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search-bar {
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 30%;
    padding: 1rem;
    border: var(--border-size) lightgray;
    border-radius: 1.5625rem;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .search-input {
        width: 100%;
    }
}

.search-button, .add-filter-button {
    height: 2.1875rem;
    width: 2.1875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--accent-color);
    border-radius: 50%;
    padding: 0.5rem;
    color: var(--font-with-background);
    font-size: 1.25rem;
    user-select: none;
    border: none;
    margin-left: 0.5rem;
}

.search-button:hover, .add-filter-button:hover {
    filter: brightness(90%);
}

.filters {
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter {
    min-width: 4.6875rem;
    margin: 0 0.25rem 0.5rem 0.25rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 1.5625rem;
    background: lightgray;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.filter-value {
    display: block;
    margin-right: 0.5rem;
    overflow: hidden;
}

.remove-filter-button {
    margin-left: auto;
    height: 1.5625rem;
    width: 1.5625rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.remove-filter-button:hover {
    filter: brightness(95%);
}

.results {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.results-placeholder {
    margin: auto;
    color: var(--secondary-font);
}

.spinner {
    border: 0.3125rem solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 0.3125rem solid rgb(239, 133, 11);
    width: 3.125rem;
    height: 3.125rem;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
