.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
}

.form-header {
    font-family: 'Cooking', serif;
    font-size: 4.5rem;
    margin: 0;
}

.error-message {
    color: red;
}

@media (max-width: 768px) {
    .form-header {
        font-size: 3.75rem;
    }
}

.form-description {
    font-family: 'Anko', serif;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .form-description {
        font-size: 1rem;
    }
}

.form-item {
    width: 45%;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .form-item {
        width: 90%;
    }
}

.form-item-label {
    display: block;
    margin: 0 0 0.5rem 0.5rem;
}

.form-item-input {
    width: 100%;
    padding: 0.5rem;
    border: var(--border-size) var(--input-border);
    border-radius: 0.25rem;
}

.submit-form-button {
    padding: 1rem 2rem;
    border-radius: 1.5625rem;
    border: none;
    background: var(--accent-color);
    color: var(--font-with-background);
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
}

.submit-form-button:hover {
    filter: brightness(90%);
}

.create-account {
    width: 30%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .create-account {
        width: 90%;
    }
}

.create-account-label {
    color: var(--accent-color);
    margin-left: 0.5rem;
    cursor: pointer;
    text-decoration: none;
}

#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
