.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.name {
    font-family: Cooking, serif;
    font-size: 100px;
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    .name {
        font-size: 3.5rem;
    }
}

.description {
    font-family: Anko, serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .description {
        font-size: 1.25rem;
    }
    .home-buttons{
        flex-wrap: wrap;
        justify-content: center;
    }
}

.home-buttons {
    display: flex;
}

.to-search-button {
    margin: 0.25rem;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    border: none;
    background: var(--accent-color);
    color: var(--font-with-background);
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.to-search-button:hover {
    filter: brightness(90%);
}
