  .recipe-card-container {
    padding: 1rem;
    margin: 0.5rem;
    width: 250px;
    border-radius: 0.25rem;
    box-shadow: var(--shadow-color) var(--shadow-offset);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
  }
  
  @media (max-width: 768px) {
    .recipe-card-container {
      width: 90%;
    }
  }
  
  .recipe-image {
    width: 100%;
  }
  
  .recipe-name {
    margin: 0;
  }
  
  .recipe-by {
    color: var(--secondary-font);;
    margin-bottom: 32px;
  }
  
  .recipe-actions {
    margin-top: auto;
    display: flex;
  }
  
  .recipe-link {
    text-decoration: none;
    color: var(--accent-color);
  }
  
  .save-recipe,
  .delete-recipe {
    margin-left: auto;
    cursor: pointer;
  }
  