.results-modal .modal-dialog {
  width: 90vw;
  max-width: none !important;
}

.results-modal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 500px;
  overflow: scroll;
  gap: 1rem;
  align-items: stretch;
  flex-grow: 1;
}

#results-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.close-modal-btn {
  color: var(--accent-color);
  background-color: white;
  border-color: var(--accent-color);
}

.close-modal-btn:hover {
  color: white;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.modal-content {
  position: relative;
  background: var(--background);
  width: 90vw;
  max-width: 1000px;
  padding: 1.25rem;
  max-height: 700px;
  border-radius: 0.5rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 0.625rem;
  margin-bottom: 1.25rem;
}

.modal-body {
  padding-bottom: 1.25rem;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  border-top: var(--border-size) #dee2e6;
  padding-top: 0.625rem;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.close-modal-btn {
  padding: 0.5rem 1rem;
  color: rgb(232, 99, 36);
  background-color: var(--background);
  border: 1px solid rgb(232, 99, 36);
  cursor: pointer;
}

.close-modal-btn:hover {
  color: var(--font-with-background);
  background-color: rgb(232, 99, 36);
}
