.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 32px 16px 0 16px;
    width: 100%;
    flex: 1 1 auto;
    min-height: 100px;
}
