@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Oswald:wght@600&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Cooking;
    src: url("assets/fonts/cooking.ttf");
}

@font-face {
    font-family: Anko;
    src: url("assets/fonts/anko.ttf");
}